<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="NLog NLog.xsd"
      autoReload="true">

	<variable name="timeFormat" value="[${date:format=HH\:mm\:ss\.fff}::${level:uppercase=true}]"/>
	
	<targets>
		<target xsi:type="File" name="logFile" encoding="UTF-8" fileName="${basedir}\Logs\${date:format=yyyy.MM.dd}.log"
				layout="${timeFormat} ${message} ${exception:format=ToString}" />
		<target xsi:type="Console" name="logConsole"
			layout="${timeFormat} ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logFile,logConsole" />
	</rules>
</nlog>
