<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="NLog NLog.xsd"
      autoReload="true">

	<!-- Log file name: one per app run -->
	<variable name="logFileName"
			  value="${cached:cached=true:Inner=${date:format=yyyy-MM-dd HH.mm.ss.fff:universalTime=true}:CacheKey=${shortdate}}.log" />

	<!-- Log file full path -->
	<variable name="logFilePath"
			  value="${basedir}/Logs/${logFileName}" />

	<!-- UTC timestamp + log level -->
	<variable name="timeFormat"
			  value="[${date:format=HH\:mm\:ss\.fff:universalTime=true}::${level:uppercase=true}]" />

	<targets>
		<!-- File output with full stack trace -->
		<target xsi:type="File"
				name="logFile"
				encoding="UTF-8"
				fileName="${logFilePath}"
				layout="${timeFormat} ${message}${onexception:${newline}${exception:format=ToString}}" />

		<!-- Console output -->
		<target xsi:type="Console"
				name="logConsole"
				layout="${timeFormat} ${message}${onexception:${newline}${exception:format=ToString}}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logFile,logConsole" />
	</rules>

</nlog>