<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="NLog NLog.xsd"
      autoReload="true">

	<!-- Variables -->
	<variable name="logTimeFormat" value="yyyy-MM-dd HH.mm.ss.fff" />
	<variable name="logLayoutFormat" value="[${date:format=HH\\:mm\\:ss.fff}::${level:uppercase=true}]" />
	<variable name="logFileName" value="${cached:cached=true:Inner=${date:universalTime=true:format=${logTimeFormat}}:CacheKey=${shortdate}}.log" />
	<variable name="logFilePath" value="${basedir}/Logs/${logFileName}" />

	<!-- Targets -->
	<targets>
		<target xsi:type="File"
			name="logFile"
			encoding="UTF-8"
			fileName="${logFilePath}"
			layout="${logLayoutFormat} ${message} ${exception:format=ToString}" 
		/>

		<target xsi:type="Console"
			name="logConsole"
			layout="${logLayoutFormat} ${message} ${exception:format=ToString}" 
		/>
	</targets>

	<!-- Rules -->
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logFile,logConsole" />
	</rules>

</nlog>
